{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="wrapper">
        {% block content %} No Content {% endblock %}
    </div>
    <div class="u-pull-right">
        <em>© Created by StanislavQQ</em>
    </div>
</div>
{% endblock %}